---
import ShortenerForm from '@/components/ShortenerForm.astro';
import Layout from '../layouts/Layout.astro';
import Typography from '@/components/ui/Typography.astro';
---

<Layout title="Snap Link - The easiest way to share links">
  <main class="p-4">
    <Typography as="h1" class="font-bold">Snap Link</Typography>
    <section>
      <ShortenerForm />
    </section>
  </main>
</Layout>
