---
import ShortenerForm from '@/components/ShortenerForm.astro';
import Layout from '../layouts/Layout.astro';
import Typography from '@/components/ui/Typography.astro';
---

<Layout title="Snap Link - The easiest way to share links">
  <Typography as="h1">Snap Link</Typography>
  <section>
    <ShortenerForm />
  </section>
</Layout>
