---
import Action from '@/components/ui/Action.astro'
---

<header class="absolute top-4 right-20">
  <nav class="flex gap-2 bg-zinc-800/40 rounded-xl p-2">
    <Action as="a" href="/"> Home </Action>
    <Action as="a" href="/login"> Login </Action>
  </nav>
</header>
